*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

#DB Config Files
*/config/ctf.php
*/config/database.php
*/config/authldap.php
*/inc/database.inc.php

