<div class="col-lg-6">
    <div class="form-group">
        <div ng-repeat="ambi in ambientes" class="checkbox">
            <label><input type="checkbox" ng-model="ambi.value" ng-disabled="ambiente.semAmbientes"> {{ambi.name}} </label>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group">
        <label class="control-label">
            Informações complementares:
        </label>
        <textarea class="form-control col-lg-3" rows="4" ng-disabled="ambiente.semAmbientes" ng-model="ambiente.complementar" maxlength='1000' ng-change="ambiente.contador=ambiente.complementar.length"></textarea>
        <span class="counter pull-right" ng-if="ambiente.contador">{{ambiente.contador}} de 1000 caracteres</span>
    </div>
    <br/>
    <div class="form-group">
        <input type="checkbox" ng-model="ambiente.semAmbientes"> Sem informação sobre ocorrências e/ou ambientes atingidos
    </div>
</div>