<div class="row-fluid">
    <div class="control-group">
        <div class="input-append">

            <style type="text/css">
                .customFileInput input {
                    position: absolute;
                    visibility: hidden;
                    right: 10px;
                }
                .fileName{
                    max-width: 10em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            </style>

            <form class="btn" method="post" enctype="multipart/form-data">
                <label class="customFileInput">
                    <div class="btn">Escolher um arquivo</div>
                    <div class="fileName" style="position:absolute; top: 1em; left: 13em"></div>
                    <input type="file" name="userfile" onchange="showFileName(this)" class="boxname" />
                    <br /><small> *jpg, doc, pdf, xls, até 5MB</small>
                </label>
            </form>
        </div>
    </div>
</div>