<div class="row-fluid">
    <div class="controls span12">
        <label class="control-label span5" for="inputNomeInformante">Nome completo: </label>
        <div class="span6">
        </div>
    </div>
    <div class="controls span12">
        <label class="control-label span5" for="inputInstEmp">Instituição / Empresa: </label>
        <div class="span6">
        </div>
    </div>
    <div class="controls span12">
        <label class="control-label span5" for="inputCargoFunc">Cargo / Função navio ou instalação: </label>
        <div class="span6">
        </div>
    </div>
        <div class="controls span12">
        <label class="control-label span5" for="inputCargoFunc">Cargo / Função: </label>
        <div class="span6">
        </div>
    </div>
    <div class="controls span12">
        <label class="control-label span5" for="inputTelInformante">Telefone de contato: </label>
        <div class="span6">
        </div>
    </div>
    <div class="controls span12">
        <label class="control-label span5" for="inputEmailInformante">Email de contato: </label>
        <div class="span6">
        </div>
    </div>
</div>