<div class="control-group">

    <div class="col-lg-6">
        <div class="form-inline">
            <div class="col-lg-6">
                <h4> Data e hora da primeira observação: </h4>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="form-group">
                <label class="control-label">Data:*</label>
                <div class='form-inline'>
                    <div class='form-group'>
                        <input type="text" class="form-control" calendar ng-model="datas.diaObservacao" ng-change="updateSemana('diaObservacao','obsSemana')" mask='31/12/9999' ng-disabled="datas.semObservacao"/>
                    </div>
                    <select class="form-control input" ng-model="datas.obsSemana" ng-disabled="true">
                        <option value="0" default selected>Data Inválida</option>
                        <option value="1">Domingo</option>
                        <option value="2">Segunda</option>
                        <option value="3">Terça</option>
                        <option value="4">Quarta</option>
                        <option value="5">Quinta</option>
                        <option value="6">Sexta</option>
                        <option value="7">Sábado</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Hora:*</label>
                <div class='form-inline form-group'>
                    <input type="text" class="form-control" ng-model="datas.horaObservacao" mask='24:59' ng-disabled="datas.semObservacao"/>
                </div>
            </div>
        <!-- </div> -->
            <br/> <br/>
        <!-- <div class="col-lg-12"> -->
            <div class="form-group">
                <label class="control-label"> Período:*</label>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="obsPeriodo" ng-model="datas.obsPeriodo" value="M" ng-disabled="datas.semObservacao"> Matutino
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="obsPeriodo" ng-model="datas.obsPeriodo" value="V" ng-disabled="datas.semObservacao"> Vespertino
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="obsPeriodo" ng-model="datas.obsPeriodo" value="N" ng-disabled="datas.semObservacao"> Noturno
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="obsPeriodo" ng-model="datas.obsPeriodo" value="A" ng-disabled="datas.semObservacao"> Madrugada
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label> <input type="checkbox" ng-model="datas.semObservacao"> Sem informação sobre data e hora da primeira observação </label>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="form-inline">
            <div class="col-lg-6">
                <h4> Data e hora estimadas do incidente: </h4>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="form-group">
                <label class="control-label">Data:*</label>
                <div class='form-inline'>
                    <div class='form-group'>
                        <input type="text" class="form-control" calendar ng-model="datas.diaIncidente" ng-change="updateSemana('diaIncidente','incSemana')" mask='31/12/9999' ng-disabled="datas.semIncidente"/>
                    </div>
                    <select class="form-control input" ng-model="datas.incSemana" ng-disabled="true">
                        <option value="0" default selected>Data Inválida</option>
                        <option value="1">Domingo</option>
                        <option value="2">Segunda</option>
                        <option value="3">Terça</option>
                        <option value="4">Quarta</option>
                        <option value="5">Quinta</option>
                        <option value="6">Sexta</option>
                        <option value="7">Sábado</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Hora:*</label>
                <div class='form-inline form-group'>
                    <input type="text" class="form-control" ng-model="datas.horaIncidente" mask='24:59' ng-disabled="datas.semIncidente"/>
                </div>
            </div>
        <!-- </div> -->

            <div class="form-group">
                <label> <input type="checkbox" ng-model="datas.feriado" ng-disabled="datas.semIncidente"> Feriado </label>
            </div>

        <!-- <div class="col-lg-12"> -->
            <div class="form-group">
            <label class="control-label"> Período:*</label>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="datas.incPeriodo" value="M" ng-disabled="datas.semIncidente"> Matutino
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="datas.incPeriodo" value="V" ng-disabled="datas.semIncidente"> Vespertino
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="datas.incPeriodo" value="N" ng-disabled="datas.semIncidente"> Noturno
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="datas.incPeriodo" value="A" ng-disabled="datas.semIncidente"> Madrugada
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="datas.semIncidente"> Sem informação sobre data e hora estimada </label>
        </div>
    </div>
</div>