<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label" for="inputCausaProvavel"> Causa provável do acidente:*</label>

            <textarea class="form-control col-lg-3 ng-pristine ng-untouched ng-valid" rows="4" ng-disabled="detalhes.semDetalhe" ng-model="detalhes.causa"></textarea>

            <div class="controls">
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="form-group">
        <input type="checkbox" ng-model="detalhes.semDetalhe"> <b> Sem condições de informar </b>
    </div>
</div>