

<div class="col-lg-6">
    <div class="form-group">
        <div ng-repeat="inst in instituicoes" class="checkbox">
            <label><input type="checkbox" ng-model="inst.value" ng-disabled="instituicao.semInstituicao"> {{inst.name}} </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">
            Informações complementares:
        </label>
        <textarea class="form-control col-lg-3" rows="4" ng-disabled="instituicao.semInstituicao" ng-model="instituicao.complementar"></textarea>
    </div>
    <br/>
    <br/>
    <label class="control-label">Nome do responsável no local/telefone:</label>
    <br/>
    <div clas="form-inline">
        <input type="text" ng-model='instituicao.responsavel' maxlength="50"  ng-disabled="instituicao.semInstituicao" placeholder="Nome do Responsável"/>
        <input type="text" ng-model="instituicao.telefone" ui-br-phone-number  ng-disabled="instituicao.semInstituicao" mask="(99) 9?9999-9999 " placeholder="(99)99999999">
    </div>

    <div class="row-fluid">
        <div class="span12">
            <label class="checkbox text-left">
                <input type="checkbox" ng-model="instituicao.semInstituicao"> Sem informação sobre instituição/empresa atuando no local
            </label>
        </div>
    </div>
</div>
