

<div class="col-lg-6 "  style='padding-left:30px'>
    <div class='form-group'>
        <div ng-repeat="inst in instituicoes" class="checkbox">
            <input type="checkbox" ng-model="inst.value" ng-disabled="instituicao.semInstituicao"> {{inst.name}}
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group">
        <label>Informações complementares:</label>
        <textarea class="form-control col-lg-3" rows="4" ng-disabled="instituicao.semInstituicao" ng-model="instituicao.complementar"></textarea>
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group">
        <label>Nome do responsável no local/telefone:</label>
        <div class="form-inline">
            <input class="form-control col-lg-1" type="text" ng-model='instituicao.responsavel' maxlength="50"  ng-disabled="instituicao.semInstituicao" placeholder="Nome do Responsável"/>
            <input class="form-control col-lg-1" type="text" ng-model="instituicao.telefone" ui-br-phone-number  ng-disabled="instituicao.semInstituicao" mask="(99) 9?9999-9999 " placeholder="(99)9999-9999">
            <br />
            <label>
                <input type="checkbox" ng-model="instituicao.semInstituicao"> Sem informação sobre instituição/empresa atuando no local
            </label>
        </div>
    </div>
</div>