
<div class="form-group">
    <div class="col-lg-6">
        <p style="font-size: 11px; text-align:center; color: #068ACD">Indique no mapa o local do acidente ou informe as coordenadas</p>
        <div id='form-control'>
            <map></map>
        </div>
    </div>
    <div class="col-lg-6">

        <div class="form-group">
            <label class="control-label" for="inputLat">Latitude(y) / Longitude(x):*</label>
            <div class='form-inline'>
                <div class='form-group'>
                    <input id="lat" type="text" class="form-control input-sm" ng-model="localizacao.lat" ng-blur="mapa.mudarMarcador()"/>
                </div>
                <div class='form-group'>
                    <input id="lng" type="text" class="form-control input-sm" ng-model="localizacao.lng" ng-blur="mapa.mudarMarcador()"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label> <input type="checkbox" ng-model="localizacao.oceano"> Oceano: </label>
            </div>
            <div class='form-inline' ng-show="localizacao.oceano">
                <label> Bacia Sedimentar: </label>
                <select class="form-control input" ng-model="localizacao.bacia" ng-options="bacia.value as bacia.name for bacia in bacias">
                    <option value="" default selected>Sem Bacia Sedimentar</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="inputMunicipio">UF/Município:</label>
            <div class='form-inline'>
                <div class='form-group'>
                    <select class="form-control input" ng-model="localizacao.uf" ng-options="uf.value as uf.name for uf in ufs" ng-change="localizacao.carregarMunicipios(localizacao.uf)">
                    <option value="" default selected>Sem UF</option>
                    </select>
                </div>
                <div class='form-group'>
                    <select class="form-control input" ng-model="localizacao.municipio" ng-options="mun.value as mun.name for mun in municipios">
                    <option value="" default selected>Sem Município</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="inputEndereco">Endereço:</label>
            <div class='form-group'>
                <input id='inputEndereco' type="text" class="form-control" ng-model="localizacao.endereco"/>
            </div>
        </div>
    </div>
</div>