
<div id="productsInfo" class="row-fluid">
    <div class="span12">
        <h5 style="font-style:italic;"> Produtos cadastrados na lista ONU</h5>
        <div id="productOnuTable" name="productOnuTable"></div>
        <hr>
        <h5 style="font-style:italic;"> Produtos NÃO cadastrados na lista ONU</h5>
        <div id="productOutroTable" name="productOutroTable"></div>
    </div>
    <hr>
    <div class="span4">
        <div class="control-group">
            <div class="controls">
                <label class="checkbox text-left"> Não classificado
                </label>
            </div>
            <div class="controls">
                <label class="checkbox text-left"> Não se aplica
                </label>
            </div>
            <div class="controls">
                <label class="checkbox text-left"> Não especificado
                </label>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row-fluid">
    <div class="span12">
        <label class="checkbox text-left">
            Sem informação sobre o tipo do produto
        </label>
    </div>
</div>