

<div class='form-group col-lg-6' ng-if='!produtos.semProduto' ng-init='popover()'>
    <h5 style="font-style:italic;"> Produtos cadastrados na lista ONU</h5>
    <div class="btn-group">
        <button class="btn btn-default" ng-click='addRowOnu()' ng-disabled="!produtos.novo_onu">
            <i class="glyphicon glyphicon-plus-sign"></i> Adicionar nova linha
        </button>
        <table class="table table-striped">
            <tr>
                <td><strong>Subst?ncia - N? ONU - CR</strong></td>
                <td><strong>Qtd.</strong></td>
                <td><strong>Unidade</strong></td>
                <td><strong>Confirmar/Deletar</strong></td>
            </tr>
            <tr ng-repeat='prods in produtos.produtos_onu'>
                <td>{{prods.field}}</td>
                <td>{{prods.qtd}}</td>
                <td>{{prods.uni}}</td>
                <td>
                    <button class="btn btn-default" ng-click='deleteData(prods)'>
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat='i in valueRows' id='{{i}}' >
                <td>
                    <input type='text' class="form-control" placeholder='Vazio' id='{{i}}' ng-model='produtos.substanciaOnu' typeahead="prods as prods.field for prods in produtos_onu | filter:$viewValue | limitTo:8">
                </td>
                <td>
                    <input type='text' class="form-control" placeholder='Vazio' id='{{i}}' ng-model='produtos.quantidadeOnu'>
                </td>
                <td>
                    <select id='inputOnu' class='form-control input' ng-options='unidade.value as unidade.name for unidade in unidades' ng-model='produtos.unidadeOnu' id='{{i}}'></select>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click='saveData(i)' id='{{i}}'>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    <button class="btn btn-default" ng-click='deleteData(i)' id='{{i}}'>
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <hr>

    <h5 style="font-style:italic;"> Produtos N?O cadastrados na lista ONU</h5>
    <div class='btn-group'>
        <button class="btn btn-default" ng-click='addRowNaoOnu()' ng-disabled="!produtos.novo_nao_onu">
            <i class="glyphicon glyphicon-plus-sign"></i>
                Adicionar nova linha
        </button>

        <!-- Popover Adicionar Novo Tipo -->
        <a  id="addTipo" class='btn btn-default'>
            <span class='glyphicon glyphicon-ok-circle'></span>
            Novo Tipo
        </a>

        <div id="popoverContent" style="display: none">
            <form ng-submit='addTipo(novoTipo)'>
                <input type='text' ng-model='novoTipo' class='form-control text-left' name='novotipoonu'>
                <button class='btn btn-primary' type='submit'>
                    <span class='glyphicon glyphicon-ok-circle'></span>
                </button>
            </form>
        </div>
        <!-- Fim popover Adicionar Novo Tipo -->

        <table class="table table-striped">
            <tr>
                <td><strong>Subst?ncia</strong></td>
                <td><strong>Qtd.</strong></td>
                <td><strong>Unidade</strong></td>
                <td><strong>Confirmar/Deletar</strong></td>
            </tr>
            <tr ng-repeat='prods in produtos.produtos_outros'>
                <td>{{prods.field}}</td>
                <td>{{prods.qtd}}</td>
                <td>{{prods.uni}}</td>
                <td>
                    <button class="btn btn-default" ng-click='deleteData(prods)'>
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat='j in valueRowsNaoOnu' id='{{j}}' >
                <td>
                    <input type='text' class="form-control" placeholder='Vazio' ng-model='produtos.substanciaOutro' typeahead="prods as prods.field for prods in produtos_outros | filter:$viewValue | limitTo:8">
                </td>
                <td>
                    <input type='text' class="form-control" placeholder='Vazio' ng-model='produtos.quantidadeOutro'>
                </td>
                <td>
                    <select id='inputOnu' class='form-control input' ng-options='unidade.value as unidade.name for unidade in unidades' ng-model='produtos.unidadeOutro' id='{{i}}'></select>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click='saveDataNaoOnu(j)' >
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    <button class="btn btn-default" ng-click='deleteDataNaoOnu(j)'>
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>
<div class='form-group col-lg-6'>
    <div class='form-group col-lg-4' ng-if='!produtos.semProduto'> </div>
    <div class='form-group col-lg-8'>
        <label class="checkbox ">
            <input type="checkbox" ng-model="produtos.naoClassificado" ng-disabled='produtos.semProduto' class="checkbox text-left"> N?o classificado
        </label>
        <label class="checkbox ">
            <input type="checkbox" ng-model="produtos.naoAplica" ng-disabled='produtos.semProduto' class="checkbox text-left"> N?o se aplica
        </label>
        <label class="checkbox ">
            <input type="checkbox" ng-model="produtos.naoEspecificado" ng-disabled='produtos.semProduto' class="checkbox text-left"> N?o especificado
        </label>
        <label class="checkbox ">
            <input type="checkbox" ng-model="produtos.semProduto" class="checkbox text-left"> Sem informa??o sobre o tipo do produto
        </label>
    </div>
</div>

<!-- <div ng-if='!produto.semProduto'> -->
<br ng-if='!produtos.semProduto'/>
<br ng-if='!produtos.semProduto'/>
<br ng-if='!produtos.semProduto'/>
<!-- </div> -->

<div class='form-group col-lg-6' ng-if='oleo'>
    <div class='form-group col-lg-4' ng-if='!produtos.semProduto'> </div>
    <div class='form-group col-lg-8'>
        <label class="control-label">Subst?ncia descarregada:</label>
        <br /><br />
        <div>
            <div class="form-group">
                <label> Tipo de subst?ncia: </label>
                <div class="form-inline">
                    <input type="text" class="form-control" ng-model='produtos.tipo_substancia' ng-disabled="produtos.semCondicoes"/>
                </div>
            </div>
            <div class="form-inline">
                <label> Volume estimado em </label>
                &nbsp; <input type="text" class="form-control" ng-model='produtos.valor_substancia' ng-disabled="produtos.semCondicoes" mask='9?9?9?9?9?9?9?9?9?9.9?9?'/> &nbsp;
                <label>  m? </label>
            </div>
        </div>
        <label class="checkbox ">
            <input type="checkbox" ng-model="produtos.semCondicoes" class="checkbox text-left"> Sem condi??es de informar
        </label>
    </div>
</div>
