header , footer , article , aside , nav , section {
  display:block
}
.input-nano {
  width: 25px;
}
.input-micro {
  width: 42px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #E0DFDF -moz-use-text-color #FEFEFE;
  border-image: none;
  border-left: 0 none;
  border-right: 0 none;
  border-style: solid none;
  border-width: 1px 0;
  margin: 20px 0;
}
footer {
  background-color: #111111;
  border-radius: 0 0 0 0;
  min-height: 24px;
  padding: 10px 20px;
  margin: 20px 0 0;
  position: relative;
  bottom:-2px;
  left:0;
  right:0;
  z-index: 20;
}
footer a {
  color: #FCFCFC;
}

#navbar {
  z-index: 1030;
  margin: 0 auto;
  position: absolute;
  .brand {
    padding: 8px 30px;
  }
}

.login {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.form-login {
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  color: #000000;
  margin: 100px auto;
  overflow: hidden;
  max-width: 300px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin: 0 -20px;
}

.form-login legend {
  text-align: center;
  font-weight: bold;
  color: #111;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    width: 0;
  }

  .form-horizontal .controls {
    margin-left: 70px;
  }
}
