header , footer , article , aside , nav , section {display:block}
.input-nano {
  width: 25px;
}
.input-micro {
  width: 42px;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #E0DFDF -moz-use-text-color #FEFEFE;
  border-image: none;
  border-left: 0 none;
  border-right: 0 none;
  border-style: solid none;
  border-width: 1px 0;
  margin: 20px 0;
}
footer {
  background-color: #111111;
  border-radius: 0 0 0 0;
  min-height: 24px;
  padding: 10px 20px;
  margin: 20px 0 0;
  position: relative;
  bottom:-2px;
  left:0;
  right:0;
  z-index: 20;
}
footer a {
  color: #FCFCFC;
}

