.form-layer-list {
  padding: 0;
  max-height: 320px;
  width: 280px;
  overflow: auto;
}
.form-layer-list .control-group {
  padding: 15px 5px;
}
.form-layer-list .control-label {
  float: left;
  margin-top: 5px;
}
.form-layer-list .control {
  float: right;
}
