#loading.loading
  %img#loading_logo{:src => "http://siscom.ibama.gov.br/painel/assets/img/ibama_logo.png", :style => "display: inline;", :title => ""}/
#map.map
#dash.dash
  .charts-content
    .row-fluid>
      <?php if(!$logged_in) {
      echo '
      .alert.alert-info.alert-block.fade.in{:style => "margin: 0 20% 20px"}
        %button.close{"data-dismiss" => "alert"} ×
        %h4{:style => "text-align: left"} Importante:
        %p{:style => "text-align: left"}
          As informações do DETER/INPE devem ser usadas com cuidado, pois este sistema não foi concebido para medição de áreas desmatadas.
          Informação: ' . anchor('http://www.obt.inpe.br/deter/metodologia_v2.pdf', 'Metodologia DETER');
      } ?>
    .quick-slct
      .item
        %label Mês
        %select#monthsSlct{:name => "months"}
          %option{:value => "0"} Jan
          %option{:value => "1"} Fev
          %option{:value => "2"} Mar
          %option{:value => "3"} Abr
          %option{:value => "4"} Mai
          %option{:value => "5"} Jun
          %option{:value => "6"} Jul
          %option{:value => "7"} Ago
          %option{:value => "8"} Set
          %option{:value => "9"} Out
          %option{:value => "10"} Nov
          %option{:value => "11"} Dez
      .item
        %label Ano
        %select#yearsSlct{:name => "years"}
          %option{:value => "2004"} 2004
          %option{:value => "2005"} 2005
          %option{:value => "2006"} 2006
          %option{:value => "2007"} 2007
          %option{:value => "2008"} 2008
          %option{:value => "2009"} 2009
          %option{:value => "2010"} 2010
          %option{:value => "2011"} 2011
          %option{:value => "2012"} 2012
          %option{:value => "2013"} 2013
    .quick-btn
      %a#AC.item{:href => "#"}
        %i.icon-ac
        %span AC
      %a#AM.item{:href => "#"}
        %i.icon-am
        %span AM
      %a#AP.item{:href => "#"}
        %i.icon-ap
        %span AP
      %a#MA.item{:href => "#"}
        %i.icon-ma
        %span MA
      %a#MT.item{:href => "#"}
        %i.icon-mt
        %span MT
      %a#PA.item{:href => "#"}
        %i.icon-pa
        %span PA
      %a#RO.item{:href => "#"}
        %i.icon-ro
        %span RO
      %a#RR.item{:href => "#"}
        %i.icon-rr
        %span RR
      %a#TO.item{:href => "#"}
        %i.icon-to
        %span TO
      %a#Todos.item.active{:href => "#"}
        %i.icon-br
        %span Todos
  %hr/
  .row-fluid
    #sparks.sparks
      #knob1.spark
      #knob2.spark
      #knob3.spark
      #spark1.spark
      #spark2.spark
  %hr/
  #charts.row-fluid
    #chart1.box
    #chart2.box
    #chart3.box
    #chart4.box
    #chart5.box
    #chart6.box
    #chart9.box
    #chart7.box-small
    #chart8.box-small
#login.login