<div class='container'>
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Acidente enviado com sucesso!
  </div>
</div>

<div class='container'>
  <div class="panel-heading">
    <br />
    <h4 class="text-right" style="color:#0088cc;padding: 0 10px 0 0;">
      <strong>Número de registro: {{nro_ocorrencia}}</strong>
      <span id="nroComunicado" name="nroComunicado">
      </span>
    </h4>
  </div>
</div>
<!-- ________________________________________1________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            1. Localização
            </a>
        </h4>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <label class="control-label" for="inputLat">Latitude(y) / Longitude(x):*</label>
        <div class='form-inline'>
            <div class='form-group'>
                <input type="text" class="form-control input-sm" ng-model="localizacao.lat"disabled>
            </div>
            <div class='form-group'>
                <input type="text" class="form-control input-sm" ng-model="localizacao.lng"disabled>
            </div>
        </div>
      </div>

      <div class="form-group"  ng-if='localizacao.oceano'>
        <div class="checkbox" >
            <label> <input type="checkbox" ng-model="localizacao.oceano"> Oceano: </label>
        </div>
        <div class='form-inline' ng-show="localizacao.oceano">
            <label> Bacia Sedimentar: </label>
            <select class="form-control input" ng-model="localizacao.bacia" ng-options="bacia.value as bacia.name for bacia in bacias">
                <option value="" default selected>Sem Bacia Sedimentar</option>
            </select>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label">UF/Município:</label>
        <div class='form-inline'>
          <div class='form-group'>
              <select class="form-control input" ng-model="localizacao.uf" ng-options="uf.value as uf.name for uf in ufs" disabled>
              </select>
          </div>
          <div class='form-group'>
              <select class="form-control input" ng-model="localizacao.municipio" ng-options="mun.value as mun.name for mun in municipios" disabled>
              <option value="" default selected>Sem Município</option>
              </select>
          </div>
        </div>
      </div>

      <div class="form-group">
          <label class="control-label" for="inputEndereco">Endereço:</label>
          <div class='form-group'>
              <input type="text" class="form-control" ng-model="localizacao.endereco" disabled>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- ________________________________________2________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            2. Data e hora do acidente
          </h4>
      </div>
      <div class="panel-body" >

        <div ng-if='!datas.semObservacao'>
          <div class="col-lg-6">
            <label class="control-label">Data e hora da primeira observação:</label>
              <p>
                 {{datas.diaObservacao}}
                <!-- <select ng-model="datas.obsSemana" ng-disabled="true">
                        <option value="1">Domingo</option>
                        <option value="2">Segunda</option>
                        <option value="3">Terça</option>
                        <option value="4">Quarta</option>
                        <option value="5">Quinta</option>
                        <option value="6">Sexta</option>
                        <option value="7">Sábado</option>
                </select> -->
                - {{datas.horaObservacao}} - Período: {{datas.obsPeriodo}}
              </p>
          </div>
        </div>
        <div ng-if='datas.semObservacao'>
          <label>Sem informação sobre data e hora da primeira observação </label>
        </div>
        <div ng-if='!datas.semIncidente'>
          <div class="col-lg-6">
            <label class="control-label">Data e hora estimadas do incidente: </label>
            <p>
              {{datas.diaIncidente}} - {{datas.horaIncidente}} - Período: {{datas.incPeriodo}}
              <div ng-if='datas.feriado'>
                Feriado
              </div>
            </p>
          </div>
        </div>
        <div ng-if='datas.semIncidente'>
          <label>Sem informação sobre data e hora sobre a hora estimada </label>
        </div>
      </div>
  </div>
</div>

<!-- ________________________________________3________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
      <div class="panel-heading" >
          <h4 class="panel-title">
              3. Origem do acidente*
          </h4>
      </div>
      <div ng-if='!origem.semOrigem'>
        <div class="panel-body">
          <div class="col-lg-6">
              <div ng-repeat="orig in origens">
                <div ng-if='orig.value'>
                  <label class='control-label'>{{orig.name}} </label>
                </div>
              </div>
          </div>
          <div ng-if='origem.complementarVal'>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Informações complementares:</label>
                    <textarea class="form-control col-lg-3" rows="4" ng-disabled="true" ng-model="origem.complementar"></textarea>
                </div>
                <br/>
            </div>
          </div>
        </div>
      </div>

      <div ng-if='origem.semOrigem'>
        <div class="panel-body">
          <div class="form-group">
              <label class="control-label"> Sem informação sobre a origem do acidente</label>
          </div>
        </div>
      </div>
      <div ng-if='oleo'>
        <div ng-if='origem.semOleoOrigem'>
          <div class="panel-body">
            <div class="form-group">
                <label class="control-label"> Sem informação sobre a origem do acidente</label>
            </div>
          </div>
        </div>
        <div ng-if='!origem.semOleoOrigem'>
          <div class="panel-body">
            <div ng-switch='origem.nouv'>
              <div ng-switch-when='N'>
                <label class='control-label'>Nome do navio:</label>
                <p>{{origem.navio}}</p>
              </div>
              <div ng-switch-default>
                <label class='control-label'>Nome da instalação:</label>
                <p>{{origem.instalacao}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

<!-- ________________________________________4________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
          4. Tipo de evento
        </h4>
    </div>
    <div class="panel-body">

      <div ng-if='!evento.semEvento'>
        <div class="col-lg-6">
          <div ng-repeat="even in eventos">
            <div ng-if='even.value'>
              <label> {{even.name}} </label>
            </div>
          </div>
        </div>
        <div ng-if='evento.complementarVal'>
          <div class="col-lg-6">
            <label class="control-label">
                Informações complementares:
            </label>
            <textarea class="form-control col-lg-3" rows="4" ng-disabled="true" ng-model="evento.complementar"></textarea>
          </div>
        </div>

      </div>

      <div ng-if='evento.semEvento'>
        <div class="col-lg-6">
          <label class='control-label'>Sem informação sobre o tipo do evento</label>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ________________________________________5________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        5. Tipo de produtos
      </h4>
    </div>
    <div class="panel-body">
      <div ng-if='!produtos.semProduto'>
        <label class='control-label'>Produtos ONU</label>
        <div ng-repeat='produto in produtos.produtos_onu'>
          <p><b>Substancia: </b>{{produto.field}}, <b>Qtd.: </b>{{produto.qtd}}, <b>Unidade: </b>{{produto.uni}}</p>
        </div>
        <hr/>
        <label class='control-label'>Produtos Não ONU</label>
        <div ng-repeat='produto in produtos.produtos_outros'>
          <p><b>Substancia: </b>{{produto.field}}, <b>Qtd.: </b>{{produto.qtd}}, <b>Unidade: </b>{{produto.uni}}</p>
        </div>
      </div>
      <hr />

      <div ng-if='produtos.naoClassificado'>
        <label class='control-label'> Não Classificado</label>
      </div>
      <div ng-if='produtos.semProduto'>
        <label class='control-label'> Sem informação sobre o tipo do produto</label>
      </div>
      <div ng-if='produtos.naoAplica'>
        <label class='control-label'> Não se aplica</label>
      </div>
      <div ng-if='produtos.naoEspecificado'>
        <label class='control-label'> Não especificado</label>
      </div>

      

    </div>
  </div>
</div>

<!-- ________________________________________6________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        6. Detalhes do acidente
      </h4>
    </div>
    <div class="panel-body">
      <div ng-if='!detalhes.semDetalhes'>
        <div ng-if='detalhes.causaVal'>
          <textarea class="form-control col-lg-3" rows="4" ng-disabled="true" ng-model="detalhes.causa"></textarea>
        </div>
      </div>
      <div ng-if='detalhes.semDetalhes'>
        <label class='control-label'>Sem condições de informar</label>
      </div>

      <div ng-if='oleo'>
        <div ng-if='detalhes.situacaoVal'>
          <label>Situação da descarga: </label>
          <div ng-switch='detalhes.situacao'>
            <div ng-switch-when='N'>
              <p>Não foi paralisada</p>
            </div>
            <div ng-switch-when='P'>
              <p>Paralisada</p>
            </div>
            <div ng-switch-when='S'>
              <p>Sem condições de informar</p>
            </div>
            <div ng-switch-default>
              <p>Não se aplica</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ________________________________________7________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h4 class="panel-title">
        7. Ocorrências e/ou ambientes atingidos
      </h4>
    </div>

    <div class="panel-body">
      <div ng-if='!ambiente.semAmbientes'>
        <div class="col-lg-6">
            <div class="form-group">
                <div ng-repeat="ambi in ambientes">
                  <div ng-if='ambi.value'>
                    <label> {{ambi.name}} </label>
                  </div>
                </div>
            </div>
        </div>
        <div ng-if='ambiente.complementarVal'>
          <div class="col-lg-6">
              <div class="form-group">
                  <label class="control-label">
                      Informações complementares:
                  </label>
                  <textarea class="form-control col-lg-3" rows="4" ng-disabled="true" ng-model="ambiente.complementar"></textarea>
              </div>
          </div>
        </div>
      </div>

      <div ng-if='ambiente.semAmbientes'>
        <label class='control-label'> Sem informação sobre ocorrências e/ou ambientes atingidos</label>
      </div>
    </div>

  </div>
</div>

<!-- ________________________________________8________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h4 class="panel-title">
        8. Identificação da empresa/responsável
      </h4>
    </div>
    <div class="panel-body">
      <div ng-if='!empresa.semEmpresa'>
        <div class="col-lg-6">
          <label class="control-label">Nome: </label>
          <p>{{empresa.nome}}</p>

          <label class="control-label">CPF/CNPJ: </label>
          <p>{{empresa.cadastro}}</p>

          <label class="control-label">Licença ambiental:</label>
            <select  class="form-control input" ng-model='empresa.licencaAmbiental' ng-options="licenca.value as licenca.name for licenca in licencas" ng-disabled="true">
            </select>
          </div>
        </div>

      </div>
      <div ng-if='empresa.semEmpresa'>
        <label>Sem informação sobre a empresa/responsável</label>
      </div>
    </div>
  </div>
</div>

<!-- ________________________________________9________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        9. Instituição/empresa atuando no local
      </h4>
    </div>
    <div class="panel-body">
      <div ng-if='!instituicao.semInstituicao'>
        <div class="col-lg-6">
          <div ng-repeat="inst in instituicoes">
            <div ng-if='inst.value'>
              <label class='control-label'>{{inst.name}}</label>
            </div>
          </div>
        </div>
        <hr/>
        <div ng-if='instituicao.complementarVal'>
          <div class="col-lg-6">
            <label>Informações complementares:</label>
            <textarea class="form-control col-lg-3" rows="4" ng-disabled="true" ng-model="instituicao.complementar"></textarea>
          </div>
        </div>
        <hr/>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Nome do responsável no local:</label>
            <p>{{instituicao.responsavel}}</p>
            <label>Telefone do responsável no local:</label>
            <p>{{instituicao.telefone}}</p>
          </div>
        </div>
      </div>
      <div ng-if='instituicao.semInstituicao'>
        <label class='control-label'>Sem informação sobre instituição/empresa atuando no local</label>
      </div>
    </div>
  </div>
</div>


<!-- ________________________________________10________________________________________ -->

<div class='container'>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        10. Ações iniciais tomadas
      </h4>
    </div>

    <div class="panel-body">
      <div ng-if='!acoes.semAcoes'>
        <div ng-switch='acoes.plano'>
          <label>Existência de Plano de Emergência Individual ou similar: </label>
          <div ng-switch-when='S'>
            <p>Sim</p>
          </div>
          <div ng-switch-when='N'>
            <p>Não</p>
          </div>
          <div ng-switch-when='I'>
            <p>Sem informação</p>
          </div>
        </div>

        <div ng-if='acoes.planoIndividual'>
        <label class="checkbox">
          Acionado plano individual de emergência
        </label>
        </div>

        <div ng-if= "acoes.outrasProvidencias">
          <label class="control-label">Foram tomadas outras providências a saber:</label>
          <textarea ng-model='acoes.outrasProvidenciasText' ng-disabled="true" class="form-control col-lg-3" rows="4"></textarea>
        </div>
      </div>

      <div ng-if='acoes.semAcoes'>
        <label class="text-left ">Sem evidência de ação ou ou providência até o momento</label>
      </div>
    </div>
  </div>

</div>

<!-- ________________________________________11________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        11. Informações gerais sobre a ocorrência
      </h4>
    </div>

    <div class="panel-body">
      <div class="col-lg-6">
      <label>Outras informações julgadas úteis:</label>
          <textarea ng-model="gerais.text" class="form-control col-lg-3" rows="4" ng-disabled='true'></textarea>
      </div>

    </div>
  </div>
</div>

<!-- ________________________________________12________________________________________ -->

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        12. Identificação do comunicante
      </h4>
    </div>

    <div class="panel-body">
      <div class="col-lg-6">
        <label >Nome completo: </label>
        <p>{{comunicante.nome}}</p>
        <label >Instituição / Empresa: </label>
        <p>{{comunicante.empresa}}</p>
        <label >Telefone de contato: </label>
        <p>{{comunicante.telefone}}</p>
        <label>Email de contato: </label>
        <p>{{comunicante.email}}</p>

        <div ng-if="oleo">
          <label >Cargo / Função navio ou instalação: </label>
          <p>{{comunicante.funcao}}</p>
        </div>
        <div ng-if="!oleo">
          <label  >Cargo / Função: </label>
          <p>{{comunicante.funcao}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ________________________________________14________________________________________ -->

<div class='container'>
  <div class="panel panel-default" >
  <!-- <div class="panel panel-default" ng-if='logado'> -->
      <div class="panel-heading">
        <h4 class="panel-title">
          14. Fonte da informação
        </h4>
      </div>
      <div class="panel-body">
        <div class="col-lg-6">
          <div ng-repeat="fon in fontes">
            <div ng-if='fon.value'>
              <label>{{fon.name}} </label>
            </div>
          </div>
        </div>
        <div class="col-lg-6" ng-if='fonte.complementarVal'>
          <label class="control-label">
            Descrição da Fonte:
          </label>
          <textarea class="form-control col-lg-3" rows="4" ng-model="fonte.complementar"></textarea>
        </div>
      </div>
  </div>
</div>
