<div id="page">

	<div style="margin: 0 20% 20px" class="alert alert-danger alert-block fade in"><button data-dismiss="alert" class="close">×</button>
    <h4 style="text-align: left">Importante:</h4><br>
    <p style="text-align: left">
    O Ibama registra e analisa informações a respeito de acidentes ambientais que ocorrem em todo o território brasileiro, prioritariamente os que são causados pela liberação acidental de produtos nocivos ou perigosos ao meio ambiente, tais como óleos e demais produtos químicos. Utilize essa ferramenta e faça a sua busca em nosso Sistema.
    </p>
  </div>


	<div ng-controller='FormCtrl'>
		<form id="formChart" ng-submit='filter()'  class="text-center">
			<figure id="selectMap" class='quick quick-btn'>
				<a ng-repeat='regions in regions' class='item' ng-click='getValueClass(this)' ng-class="changeClass(this)">
					<img id='{{regions.name}}' href='#' ng-src='{{regions.image}}'
				     value='{{regions.name}}'>
		     	<span class="">{{regions.subtitle}}</span>
	     	</a>
			</figure>

			<br /><br />

			<div>
				<label class="quick-label">Mês</label>
				<label class="quick-label">Ano</label>
				<label class="quick-label">Origem do Acidente</label>
				<label class="quick-label">Tipo de Evento</label>
				<label class="quick-label"></label>
			</div>

			<div class="quick-slct">
				<select class='btn btn-default' ng-options='mes for mes in meses' ng-model='mes'></select>
				<select class='btn btn-default' ng-options='ano for ano in anos' ng-model='ano'></select>
				<select class='btn btn-default' ng-options='origem for origem in origens' ng-model='origem'></select>
				<select class='btn btn-default' ng-options='evento for evento in eventos' ng-model='evento'></select>
				<button class="btn btn-primary" type="submit">Selecionar</button>
			</div>
		</form>
	</div>

	<br /><br />
	<hr>


	<div ng-controller='ChartsCtrl'>
		<div class='chart'>
			<div class='box-chart'>
				<div class='box-header'><h2>{{chart1}}</h2></div>
				<mensal></mensal>
			</div>
		</div>

		<div class='chart'>
			<div class='box-chart'>
				<div class='box-header'><h2>{{chart2}}</h2></div>
				<instituicoes></instituicoes>
			</div>
		</div>

		<div class='chart'>
			<div class='box-chart'>
				<div class='box-header'><h2>{{chart3}}</h2></div>
				<eventos></eventos>
			</div>
		</div>

		<div class='chart'>
			<div class='box-chart'>
				<div class='box-header'><h2>{{chart4}}</h2></div>
				<eventosmes></eventosmes>
			</div>
		</div>
	</div>


	<!-- <div id="acdtModal" class="modal" ng-controller='AcidenteCtrl'>
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>-->

<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#acdtModal">
  Launch demo modal
</button> -->

</div>